@{
    ViewData["Title"] = "Home Page";
}

@model TestEfCoreContext
<!-- table element allows us to quickly line up our data -->
<table>
    <!--the tr gave us a table row to keep spearate from other table rows-->
    <tr>
        <!--the th or table header allows us to name our columns of data-->
        <th>Name</th>
        <th>Age</th>
        <th>Buy Item</th>
    </tr>
    @foreach (Person per in Model.Person)
    {
        <!-- we have the tr table row in the loop to make
            a new row for each row of data-->
<tr>
    <td><h1>@per.Name</h1></td>
    <td><h1>@per.Age</h1></td>
    <!--use Razor syntax to access C# if statement-->
    <!--this if statement stermines if the following HTML is displayed-->
    <!-- Razor syntax also allows us to access TempData objects-->
    <!-- we cast to bool (bool)TempData["bool"], 
        whatever type you put in the parenthesis is the casted type-->
    @if ((bool)TempData["bool"])
    {
        <td><button>Buy</button></td>
    }
</tr>
    }
</table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-controller="Home" asp-action="Hello">
    <!-- the div element doesn't add anything itself,
        instead gives us a blank canvas to shape with CSS -->
    <div class="form-group">
        <!-- we use the name attribute to map this text input to our parameter in
        the back end controller-->
        <input class="form-control" type="text" name="Name" pattern="[A-Za-z]+" required />
        <!-- the class attribute is accessing code from the bootstrap library -->
    </div>

    <div class="form-group">
        <!-- give each input a unique name to insure proper mapping in the back end -->
        <input class="form-control" type="text" name="Age" required />
    </div>

    <div class="form-group">
        <!-- we use input type submit to submit our form to the assigned controller/action-->
        <input class="form-control btn btn-primary" type="submit" />
    </div>
</form>

<!-- make a form to take text input, which we will use to search our DB -->
<form asp-controller="Home" asp-action="Search">
    <input type="text" name="result" />

    <input type="submit" />
</form>

<a asp-controller="Home" asp-action="WelcomeViews">welcome</a>